body{
  font-family: 'Poppins', sans-serif;
}
.welcome-container {
  background: linear-gradient(0deg, rgba(235,234,234,1) 0%, #9aa6f8 0%, #5a73f7 30%);;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0 auto;
  justify-content: center;
  text-align: center;
}

.logo-container img {
  width: 100px; /* Adjust the width as needed */
}

.welcome-heading {
  margin: 20px 0;
  color: #f9f9f9;
}

.welcome-heading span {
  color: #284cff;
}

.button-container {
  display: flex;
  gap: 10px;
}

.register-button {
  background-color: #3498db; /* Adjust the color as needed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-now-text {
  margin: 20px 0;
  font-size: small;
}


/* styles.css or your preferred stylesheet */

.home-page-container {
  padding: 20px;
  background-color: #f8f8f8;
}

.question-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
}

.question-content {
  font-size: 18px;
  font-weight: bold;
}

.question-user {
  margin-top: 8px;
  font-size: 16px;
}

.flag-icon {
  color: #ff0000;
  margin-right: 5px;
  float:right;
}

.pagination-container {
  margin-top: 15px;
}

.pagination-info {
  font-size: 14px;
}

.pagination-button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.profile-button,
.add-question-button {
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
}





.loading-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.question {
  margin-bottom: 20px;
}

.question h1 {
  font-size: 24px;
  font-weight: bold;
}

.question p {
  font-size: 16px;
}

.answers {
  margin-top: 20px;
}

.answers h2 {
  font-size: 20px;
  font-weight: bold;
}

.answer {
  margin-bottom: 10px;
}

.answer-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.answer p {
  font-size: 16px;
}

.button-container {
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}




.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}